

/*************
BODY
*************/
.nav a {
    color: #7facaa;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.jumbotron {
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: 10px;
}

.projects {
    margin: 10px;
}

.projects h3 {
    text-align: center;
}

.projects p {
    text-align: justify;
    margin: 10px;
}

.btn {
    color: #7facaa;
    background-color: #d6d6c2;
}

.row {
    text-align: center;
}

/* sage: #d6d6c2;
blue: #7facaa; */


/*************
FOOTER
*************/
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
