*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh; }

a {
  color: #247BA0;
  text-decoration: none;
  font-family: "Cinzel", serif; }

p {
  font-size: 16px;
  line-height: 28px;
  padding-right: 5vw;
  font-family: 'Libre Baskerville', serif; }

h3 {
  font-family: 'Libre Baskerville', serif; }

footer {
  text-align: center;
  margin-bottom: 40px; }

.row {
  height: 100vh;
  width: 100%;
  margin: 0; }
  .row .about {
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .row .about .logo {
      width: 150px; }
    .row .about .contact__icons {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      width: 80%; }
      .row .about .contact__icons a img {
        height: 60px; }
  .row .projects {
    display: flex;
    flex-direction: column; }
    .row .projects img {
      width: 120px; }
    .row .projects > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 30vh;
      margin-bottom: 10px;
      padding: 10px; }
      .row .projects > div > a {
        width: 100%;
        padding-left: 15px; }
      .row .projects > div p {
        justify-content: flex-end;
        color: white; }
      .row .projects > div.project-a {
        background: url("../img/caseStudies/radish-small.jpg") center no-repeat;
        background-size: cover; }
      .row .projects > div.project-b {
        background: url("../img/caseStudies/ironVice/ironViceImg.jpg") center no-repeat;
        background-size: cover; }
      .row .projects > div.project-c {
        background: url("../img/caseStudies/scout/scout.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 0; }
      .row .projects > div.project-d {
        background: url("../img/cafe26.jpg") top no-repeat;
        background-size: cover; }
        .row .projects > div.project-d h2 {
          color: white;
          font-family: 'copperplate';
          font-weight: lighter; }
      .row .projects > div.project-e {
        background: url("../img/caseStudies/alpha-plants/homepageImg.png") top no-repeat;
        background-size: cover; }
        .row .projects > div.project-e h2, .row .projects > div.project-e p {
          color: white; }
      .row .projects > div .prototype img {
        margin-top: 20px;
        width: 40px; }
    @media (min-width: 800px) {
      .row .projects {
        overflow: auto;
        height: auto;
        display: block; } }
  @media (min-width: 800px) {
    .row {
      display: flex;
      overflow: hidden;
      position: relative; } }

#scoutCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #scoutCaseStudy #scoutLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #scoutCaseStudy #scoutSmall {
    display: none; } }

#growCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #growCaseStudy #growLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #growCaseStudy #growSmall {
    display: none; } }

#ironViceCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #ironViceCaseStudy #ironViceLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #ironViceCaseStudy #ironViceSmall {
    display: none; } }

#alpha-plants .container {
  display: grid; }
#alpha-plants .row {
  display: grid;
  grid-template-columns: 25% 75%; }
  @media (max-width: 1054px) {
    #alpha-plants .row .main-img .change-image {
      align-items: flex-end;
      margin-bottom: 6vh; } }
#alpha-plants .main-img {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row; }
  #alpha-plants .main-img img {
    margin: 0 auto;
    height: 90vh; }
  #alpha-plants .main-img .change-image {
    display: flex;
    margin: 0 auto;
    align-items: center; }
    #alpha-plants .main-img .change-image > .next {
      justify-content: flex-start; }
    #alpha-plants .main-img .change-image > .previous {
      justify-content: flex-end; }
#alpha-plants .imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  grid-gap: 5px;
  padding: 20px; }
  #alpha-plants .imgs img {
    object-fit: cover;
    width: 100%;
    height: 100px; }
#alpha-plants #current {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; }
#alpha-plants img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block; }

/*# sourceMappingURL=master.css.map */
