*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh; }

a {
  color: #247BA0;
  text-decoration: none;
  font-family: "Cinzel", serif; }

p {
  font-size: 16px;
  line-height: 28px;
  padding-right: 5vw;
  font-family: 'Libre Baskerville', serif; }

h3 {
  font-family: 'Libre Baskerville', serif; }

footer {
  text-align: center;
  margin-bottom: 40px; }

.row {
  height: 100vh;
  margin: 0;
  overflow: scroll; }
  .row .about {
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .row .about .logo {
      width: 150px; }
    .row .about .contact__icons {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      width: 80%; }
      .row .about .contact__icons a img {
        height: 60px; }
  .row .projects {
    display: flex;
    flex-direction: column; }
    .row .projects img {
      width: 120px; }
    .row .projects > .col {
      width: 100%;
      position: relative;
      padding: 0;
      margin-bottom: 10px; }
      .row .projects > .col p {
        justify-content: flex-end;
        color: white; }
      .row .projects > .col:last-of-type {
        margin-bottom: 0; }
    .row .projects > div {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      height: 40vh; }
      .row .projects > div > a {
        width: 100%;
        padding-left: 15px; }
      .row .projects > div.project-a {
        background: url("../img/caseStudies/radish-small.jpg") center no-repeat;
        background-size: cover; }
      .row .projects > div.project-b {
        background: url("../img/caseStudies/ironVice/ironViceImg.jpg") center no-repeat;
        background-size: cover; }
      .row .projects > div.project-c {
        background: url("../img/caseStudies/scout/scout.jpg") center no-repeat;
        background-size: cover; }
      .row .projects > div.project-d {
        background: url("../img/cafe26.jpg") top no-repeat;
        background-size: cover; }
        .row .projects > div.project-d h2 {
          color: white; }
      .row .projects > div .prototype img {
        margin-top: 20px;
        width: 40px; }
  .row > :last-of-type {
    height: 100vh; }
    .row > :last-of-type .col {
      height: 40vh;
      overflow: scroll; }

#scoutCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #scoutCaseStudy #scoutLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #scoutCaseStudy #scoutSmall {
    display: none; } }

#growCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #growCaseStudy #growLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #growCaseStudy #growSmall {
    display: none; } }

#ironViceCaseStudy img {
  width: 100%; }
@media only screen and (max-width: 599px) {
  #ironViceCaseStudy #ironViceLarge {
    display: none; } }
@media only screen and (min-width: 600px) {
  #ironViceCaseStudy #ironViceSmall {
    display: none; } }

/*# sourceMappingURL=master.css.map */
