.projects .allProjects .projColumn #js1 .hover:hover, .projects .allProjects .projColumn #design1 .colorOverlay:hover .hover, .projects .allProjects .projColumn #design2 .colorOverlay:hover .hover {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; }
  .projects .allProjects .projColumn #js1 .hover:hover p, .projects .allProjects .projColumn #design1 .colorOverlay:hover .hover p, .projects .allProjects .projColumn #design2 .colorOverlay:hover .hover p {
    color: white;
    padding: 0;
    font-size: 14px; }
  .projects .allProjects .projColumn #js1 .hover:hover a, .projects .allProjects .projColumn #design1 .colorOverlay:hover .hover a, .projects .allProjects .projColumn #design2 .colorOverlay:hover .hover a {
    color: #70c1b3;
    padding: 3px;
    font-weight: bold; }
  .projects .allProjects .projColumn #js1 .hover:hover h2, .projects .allProjects .projColumn #design1 .colorOverlay:hover .hover h2, .projects .allProjects .projColumn #design2 .colorOverlay:hover .hover h2 {
    display: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh; }

a {
  color: #247BA0;
  text-decoration: none;
  font-family: "Cinzel", serif; }

.sidebar ul li {
  font-family: "Cinzel", serif; }

.name {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: normal;
  margin: 30px 0 20px 0;
  color: goldenrod;
  float: left; }

.content h1, .content h4 {
  font-family: "Cinzel", serif; }
.content h2 {
  font-family: "Cinzel", serif; }
.content p {
  font-family: 'Libre Baskerville', serif; }
.content .contactMe ul li {
  font-family: 'Libre Baskerville', serif; }

p {
  font-size: 16px;
  line-height: 28px;
  padding-right: 5vw;
  font-family: 'Libre Baskerville', serif; }

.projects h1, .projects h2 {
  font-family: "Cinzel", serif; }
.projects h2 {
  padding-bottom: 30px; }

.caseStudy h1, .caseStudy h4 {
  font-family: 'Libre Baskerville', serif;
  text-align: center; }
.caseStudy h4 {
  margin: 32px 0; }

footer {
  text-align: center;
  margin-bottom: 40px; }

#growCS {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/caseStudies/radish.jpg") no-repeat center;
  background-size: cover; }

#scoutCS {
  background: linear-gradient(rgba(32, 15, 62, 0.5), rgba(32, 15, 62, 0.5)), url("../img/caseStudies/scout/scout.jpg") no-repeat center;
  background-size: cover; }

.CSheader {
  height: 500px;
  width: 100vw;
  padding-top: 20px; }
  .CSheader a {
    color: #d5ebdc; }
  .CSheader ul {
    margin: 0; }
  .CSheader li {
    list-style: none; }
  .CSheader .logo {
    height: 120px;
    margin: 40px auto;
    display: block; }
  .CSheader .caseStudyBlurb {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    display: block;
    margin: auto;
    width: 90%;
    padding: 15px;
    text-align: center; }

.sidebar {
  width: 220px;
  min-height: 100vh;
  border-right: 1px solid #808080;
  margin: 0px;
  float: left;
  padding: 20px;
  display: flex;
  flex-direction: column; }
  .sidebar .sidebarMiddle {
    display: flex;
    flex: 1; }
  .sidebar img {
    width: 160px;
    display: block;
    margin: auto; }
  .sidebar ul {
    display: block; }
    .sidebar ul li {
      list-style: none;
      padding: 15px 0;
      font-size: 30px; }
      .sidebar ul li a {
        text-decoration: none;
        color: #247BA0; }
        .sidebar ul li a:hover {
          text-decoration: underline; }
  .sidebar .personalLinks {
    display: flex;
    justify-content: center;
    padding-top: 10%; }
    .sidebar .personalLinks .social-icon img {
      display: inline-block;
      padding: 5px;
      width: 40px; }

.navbar {
  padding: 10px;
  margin: 0; }
  .navbar .active {
    color: #70c1b3; }

.content {
  overflow: auto;
  padding: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column; }
  .content .blogPost {
    background: #d5ebdc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify; }
    .content .blogPost:hover {
      cursor: pointer; }
  .content .blog {
    padding: 0;
    margin: 0; }
    .content .blog ul {
      display: block;
      margin: auto; }
    .content .blog li {
      list-style: none; }
  .content #blogPost2 {
    display: none; }
  .content #blogPost1 {
    display: none; }

.projects {
  height: 100vh;
  overflow: auto;
  padding: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column; }
  .projects .allProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px; }
    .projects .allProjects .projColumn {
      text-align: center; }
      .projects .allProjects .projColumn .thumbnail {
        width: 450px;
        height: 370px;
        margin-bottom: 80px; }
      .projects .allProjects .projColumn #js1 {
        background: url("../img/projectBackgrounds/emberQA.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden; }
        .projects .allProjects .projColumn #js1 .hover h2 {
          color: white;
          font-family: sans-serif;
          font-weight: lighter;
          letter-spacing: 20px;
          font-size: 60px;
          padding-top: 80px;
          margin: 0;
          text-shadow: 1px 1px 1px black;
          text-align: center;
          padding-left: 20px; }
        .projects .allProjects .projColumn #js1 .hover p, .projects .allProjects .projColumn #js1 .hover a {
          color: transparent;
          padding: 0; }
      .projects .allProjects .projColumn #design1 {
        background: url("../img/caseStudies/radish.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
        .projects .allProjects .projColumn #design1 .colorOverlay {
          width: 450px;
          height: 370px;
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
          overflow: hidden; }
          .projects .allProjects .projColumn #design1 .colorOverlay .hover p, .projects .allProjects .projColumn #design1 .colorOverlay .hover a {
            color: transparent; }
          .projects .allProjects .projColumn #design1 .colorOverlay .img {
            padding: 90px; }
            .projects .allProjects .projColumn #design1 .colorOverlay .img img {
              width: 250px;
              height: 180px; }
            .projects .allProjects .projColumn #design1 .colorOverlay .img:hover {
              display: none; }
          .projects .allProjects .projColumn #design1 .colorOverlay:hover .img {
            display: none; }
      .projects .allProjects .projColumn #design2 {
        background: url("../img/caseStudies/scout/scout.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
        .projects .allProjects .projColumn #design2 .colorOverlay {
          width: 450px;
          height: 370px;
          background: linear-gradient(rgba(32, 15, 62, 0.5), rgba(32, 15, 62, 0.5));
          overflow: hidden; }
          .projects .allProjects .projColumn #design2 .colorOverlay .hover p, .projects .allProjects .projColumn #design2 .colorOverlay .hover a {
            color: transparent; }
          .projects .allProjects .projColumn #design2 .colorOverlay .img {
            padding: 90px; }
            .projects .allProjects .projColumn #design2 .colorOverlay .img img {
              width: 190px;
              height: 180px; }
            .projects .allProjects .projColumn #design2 .colorOverlay .img:hover {
              display: none; }
          .projects .allProjects .projColumn #design2 .colorOverlay:hover .img {
            display: none; }

.content {
  display: flex;
  justify-content: space-between; }
  .content .contactInfo {
    justify-content: flex-start; }
    .content .contactInfo h1 {
      margin: 0; }
  .content .contactBottom {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .content .contactBottom img {
      width: 300px;
      height: 300px; }
  .content .contactMe {
    margin: 10px; }
    .content .contactMe li {
      font-size: 18px;
      list-style: none;
      margin-bottom: 10px; }
      .content .contactMe li a:hover {
        color: #70c1b3; }

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  .homeContainer .crosshairs {
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 400px; }

.contentHome {
  display: flex;
  flex-direction: column;
  margin-left: 75px; }
  .contentHome .blurb {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 3px; }
    .contentHome .blurb .logo {
      width: 230px;
      display: block;
      margin-top: 100px;
      float: left; }
    .contentHome .blurb p {
      padding: 0 0 0 80px;
      margin: 0;
      color: goldenrod;
      font-size: 20px; }

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 150px 150px 0 0; }
  .links a {
    padding: 0 50px;
    font-size: 20px; }

.images #scoutpic1 {
  display: flex;
  align-items: center;
  height: 320px; }
.images .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px; }
  .images .row img {
    height: 150px;
    margin: 5px; }

.mainScreens .scoutpages {
  margin-right: 10px; }

#scoutAllScreens {
  display: flex;
  justify-content: center;
  margin: auto; }
  #scoutAllScreens img {
    height: 600px; }

.caseStudy {
  margin: 5% 15%; }
  .caseStudy p {
    text-align: justify;
    padding: 0; }
  .caseStudy .images {
    display: flex;
    justify-content: space-between;
    margin: auto; }
    .caseStudy .images img {
      margin-top: 0px 10px 10px 0px; }
    .caseStudy .images .col1 img {
      height: 220px;
      margin-right: 10px; }
    .caseStudy .images .col2, .caseStudy .images .col3 {
      display: flex;
      flex-direction: column;
      margin: 0 10px; }
      .caseStudy .images .col2 img, .caseStudy .images .col3 img {
        height: 170px;
        margin-bottom: 20px; }
    .caseStudy .images .col3 img:first-child {
      height: 130px; }
    .caseStudy .images .col3 img:last-child {
      height: 280px; }
  .caseStudy .fonts .fontSamples img {
    height: 130px; }
  .caseStudy .fonts .fontSamples img:last-child {
    float: right; }
  .caseStudy .colors {
    margin-bottom: 60px; }
    .caseStudy .colors img {
      display: block;
      margin: auto;
      height: 196px; }
  .caseStudy .mainScreens {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0px 0; }
    .caseStudy .mainScreens img {
      height: 355px; }
    .caseStudy .mainScreens .screenshot {
      width: 200px; }
      .caseStudy .mainScreens .screenshot p {
        font-size: 12px;
        line-height: 15px; }
    .caseStudy .mainScreens .plot {
      margin-right: 0px; }
    .caseStudy .mainScreens .calendar {
      margin-left: 0px; }
  .caseStudy .allScreens {
    margin: 30px 0; }
    .caseStudy .allScreens img {
      display: block;
      margin: auto;
      height: 700px; }

/*# sourceMappingURL=master.css.map */
