.blog {
  font-size: 17px;
}

span {
  color: cornflowerblue;
  background: #e6e6e6;
  padding: 3px;
  border-radius: 3px;
}

img {
  margin-bottom: 10px;
}

pre {
  text-align: left;
  white-space: pre-line;
}
