@mixin projectPhotos($img) {
  background: url($img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}
