.projects {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  p {
    text-align: justify;
  }
  h3 {
    text-align: center;
  }
}

.col-sm-4 {
  padding: 10px;
}

.btn {
  background-color: $lightGrey;
  color: $mainAqua;
  font-size: 15px;
}

.custom a button:hover {
  background-color: $mint;
  color: $hoverBlue;
  font-weight: bold;
}

a:hover {
  color: $hoverBlue;
  font-weight: bold;
}

.projectImgs {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    background: $mainAqua;
  }
}
