.content {
  // height: 100vh;
  overflow: auto;
  padding: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  .blogPost {
    background: $mint;
    padding: 20px;
    margin-bottom: 20px;
  }
  .blog {
    padding: 0;
    margin: 0;
    ul {
      display: block;
      margin: auto;
    }
    li {
      list-style: none;
    }
  }

  #blogPost2 {
    display: none;
  }
  #blogPost1 {
    display: none;
  }
}
