.content {
  display: flex;
  justify-content: space-between;
  .contactBlurb {
    h1 {
      margin: 0;
    }
  }

} // end content

.contactBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  img {
    @include dimensions(300px, 300px);
  }
  .contactMe {
    li {
      list-style: none;
      margin-bottom: 10px;
      font-size: 20px;
      a {
        &:hover {
          color: $mainAqua;
        }
      }
    }
  }
}
