.contactContent {
  height: 100vh;
  display: flex;
}

.contactBlurb {
  h1 {
    margin: 0;
  }
}

.contactBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  img {
    @include dimensions(40%, 40%);
  }
  .contactMe {
    li {
      list-style: none;
      margin-bottom: 10px;
      font-size: 20px;
      a {
        &:hover {
          color: $mainAqua;
        }
      }
    }
  }
}
