.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  .crosshairs {
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 400px;
  }
}

.contentHome {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  .blurb {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 3px;
    .logo {
      width: 230px;
      height: 230px;
      margin-top: 100px;
      float: left;
    }
    p {
      padding: 0 0 0 80px;
      margin: 0;
      color: goldenrod;
      font-size: 20px;
    }
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 150px 150px 0 0;
  a {
    padding: 0 50px;

  }
}
