.projects {
  display: flex;
  flex-direction: row;
  .col {
    height: 40vh;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    p {
      justify-content: flex-end;
      color: white;
    }
    > a {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 35vh;
      padding: 10px;
      flex-direction: column;
      outline: white;
      &.project-a {
        // grow
        background: url("../img/caseStudies/radish-small.jpg") center no-repeat;
        background-size: cover;
      }
      &.project-b {
        // iron vice
        background: url("../img/caseStudies/ironVice/ironViceImg.jpg") center no-repeat;
        background-size: cover;
      }
      &.project-c {
        // scout
        background: url("../img/caseStudies/scout/scout.jpg") center no-repeat;
        background-size: cover;
      }
    }
  }
  // @media only screen and (max-width: 599px) {
  //   flex-direction: column;
  // }
}


.row {
  .about {
    padding-left: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .logo {
      width: 150px;
    }
    .contact__icons {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      width: 80%;
      a {
        img {
          height: 60px;
        }
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    img {
      width: 120px;
    }
    >.col {
      width: 100%;
      height: 33vh;
      overflow: hidden;
    }
  }
}
