.contentHome {
  display: flex;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/background2.jpg") no-repeat top;
  background-size: cover;
  .blurb {
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    p {
      padding: 0;
      color: oldlace;
    }
    p:last-child {
      font-size: 22px;
      padding-top: 15px;
      letter-spacing: 2px;
    }
  }
}
