.projects {
  height: 100vh;
  overflow: auto;
  padding: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  .project {
    border-bottom: 1px solid $lightGrey;
    color: white;
    margin-bottom: 10px;
    img {
      width: 250px;
      height: 200px;
    }
    .info {
      padding: 0;
      margin-bottom: 30px;
      @extend %blockCenter;
      img {
        @extend %blockCenter;
      }
      .projectLinks {
        display: flex;
        justify-content: center;
        a {
          color: white;
          padding: 10px 15px;
          text-align: center;
          display: inline;
        }
      }
      .textBackground {
        background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
        // width: 75%;
        text-align: center;
        padding: 10px 30px;
        @extend %blockCenter;
        margin-bottom: 20px;
        p {
          padding: 0 0 10px 0;
          margin-top: 0;
        }
        ul {
          margin: auto;
          padding: 0;
          text-align: center;
        }
        li {
          display: inline;
          padding: 0 10px;
        }
      }
    }
  }
  #sass {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/projectBackgrounds/sassBackground.jpg") no-repeat center;
    background-size: cover;
    padding-top: 8%;
    .info {
      height: 410px;
      .sassTitle {
        font-family: serif;
        text-align: center;
        font-size: 40px;
        letter-spacing: 2px;
      }
    }
  }
  #grow {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/caseStudies/radish.jpg") no-repeat center;
    background-size: cover;
  }
}
