@font-face {
  font-family: "Kimberley";
  src: url("../fonts/kimberley.ttf") format('truetype');
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 80px 20px 20px 20px;
  .allProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    .projColumn {
      text-align: center;
      width: 50%;
      height: 100%;
      .thumbnail {
        @include dimensions(80%, 370px);
        margin: 0 auto;
        margin-bottom: 50px;
        .hover_icons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img {
            @include dimensions(30px, 30px);
            margin: 0 15px 10px 15px;
          }
        }
        .hover_links {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .hover_links_single {
          justify-content: center;
        }
      }
      #js1 {
        @include projectPhotos("../img/projectBackgrounds/emberQA.jpg");
        overflow: hidden;
        .hover {
          h2 {
            color: white;
            font-family: sans-serif;
            font-weight: lighter;
            letter-spacing: 20px;
            font-size: 50px;
            margin: 0;
            padding-top: 120px;
            padding-left: 20px;
            text-shadow: 1px 1px 1px black;
            text-align: center;
          }
          p, a {
            color: transparent;
            padding: 0;
          }
          &:hover {
            @extend %projectHoverText;
          }
        }
      }
      #js2 {
        @include projectPhotos("../img/caseStudies/ironVice/ironViceImg.jpg");
        overflow: hidden;
        .hover {
          h2 {
            font-family: "Kimberley";
            color: white;
            font-size: 100px;
          }
          p, a {
            color: transparent;
            padding: 0;
          }
          &:hover {
            @extend %projectHoverText;
          }
        }
      }


      #design1 {
        @include projectPhotos("../img/caseStudies/radish-small.jpg");
        .colorOverlay {
          @include dimensions(100%, 370px);
          background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
          overflow: hidden;
          .hover {
            p, a {
              color: transparent;
            }
          }
          .img {
            padding: 90px;
            img {
              @include dimensions(250px, 180px);
            }
            &:hover {
              display: none;
            }
          }
          &:hover {
            .img {
              display: none;
            }
            .hover {
              @extend %projectHoverText;
            }
          }
        }
      }

      #design2 {
        @include projectPhotos("../img/caseStudies/scout/scout.jpg");
        .colorOverlay {
          @include dimensions(100%, 370px);
          background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
          overflow: hidden;
          .hover {
            p, a {
              color: transparent;
            }
          }
          .img {
            padding: 90px;
            img {
              @include dimensions(190px, 180px);
            }
            &:hover {
              display: none;
            }
          }
          &:hover {
            .img {
              display: none;
            }
            .hover {
              @extend %projectHoverText;
            }
          }
        }
      }
    }
  }
}
