@font-face {
  font-family: "Kimberley";
  src: url("../fonts/kimberley.ttf") format('truetype');
}

#ironVice {
  .CSheader {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/caseStudies/ironVice/ironViceImg.jpg") no-repeat center;
    background-size: cover;
    h1, h2 {
      font-family: "Kimberley";
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 100px;
      margin-top: 0;
    }
  }

  .wireframes {
    display: flex;
    flex-direction: row;
    width: 100%;
    .lo-fiWireframes {
      flex-direction: column;
      width: 37%;
      img {
        @include dimensions(100%, 100%);
        margin: 10px 0;
      }
    }
    .text {
      width: 70%;
      padding-left: 5%;
    }
  }

  .images {
    display: flex;
    align-items: center;
    img {
      @include dimensions(25%, 25%);
    }
    img:nth-child(2) {
      padding: 0 5%;
      @include dimensions(50%, 50%);
    }
  }

  .fontsAndColors {
    display: flex;
    align-items: center;
    width: 100%;
    img {
      width: 90%;
      margin: 0;
    }
    .colors {
      img {
        height: 100%;
      }
    }
  }

  .squareScreens {
    display: flex;
    flex-direction: row;
    width: 75%;
    .ironVicePages {
      width: 33%;
      padding: 0 10px;
    }
  }

  .ironVicePages {
    width: 300px;
    img {
      @include dimensions(100%, 200px);
    }
    h4 {
      margin: 20px 0;
    }
  }

  .finalScreens {
    display: flex;
    justify-content: space-between;
    width: 100%;
    img {
      @include dimensions(49%, 49%);
    }
  }
}
