.images {
  #scoutpic1 {
    display: flex;
    align-items: center;
    height: 320px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    img {
      height: 150px;
      margin: 5px;
    }
  }
}

.mainScreens {
  .scoutpages {
    margin-right: 10px;
  }
}

#scoutAllScreens {
  display: flex;
  justify-content: center;
  margin: auto;
  img {
    height: 600px;
  }
}

#scoutCaseStudy {
  img {
    width: 100%;
  }
  @media (max-width: 599px) {
    #scoutLarge {
      display: none;
    }
  }
  @media (min-width: 600px) {
    #scoutSmall {
      display: none;
    }
  }
}
