#scoutCaseStudy {
  img {
    width: 100%;
  }
  @media only screen and (max-width: 599px) {
    #scoutLarge {
      display: none;
    }
  }
  @media only screen and (min-width: 600px) {
    #scoutSmall {
      display: none;
    }
  }
}
