#growCS {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/caseStudies/radish.jpg") no-repeat center;
  background-size: cover;
}
#scoutCS {
  background: linear-gradient(rgba(32, 15, 62, 0.50), rgba(32, 15, 62, 0.50)), url("../img/caseStudies/scout/scout.jpg") no-repeat center;
  background-size: cover;
}

.CSheader {
  height: 500px;
  width: 100vw;
  padding-top: 20px;
  a {
    color: $mint;
  }
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }
  .logo {
    height: 120px;
    margin: 40px auto;
    display: block;
  }
  .caseStudyBlurb {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    display: block;
    margin: auto;
    width: 90%;
    padding: 15px;
    text-align: center;
  }
}
