.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 100vh;
  border-right: 1px solid $lightGrey;
  margin: 0px;
  float: left;
  padding: 20px;
  img {
    width: 160px;
    display: block;
    margin: auto;
  }
  ul {
    display: block;
    li {
      list-style: none;
      padding: 15px 0;
      font-size: 30px;
      a {
        text-decoration: none;
        color: $denim;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .personalLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    .social-icon {
      img {
        width: 55px;
        padding: 5px;
      }
    }
  }
  @media only screen and (max-width: 599px) {
    flex-direction: row;
    width: 100%;
    min-height: 30vh;
    img {
      width: 100px;
    }
    .middleSpace {
      display: none;
    }
    .nav-wrapper {
      flex-direction: column;
      ul {
        li {
          font-size: 20px;
        }
      }
    }
  }
}

.navbar {
  padding: 10px;
  margin: 0;
  .active {
    color: $mainAqua;
  }
}
