.sidebar {
  ul {
    li {
      font-family: "Cinzel", serif;
    }
  }
}

.name {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: normal;
  margin: 50px 0 20px 0;
  color: goldenrod;
  float: left;
}

.content {
  h1, h4 {
    font-family: "Cinzel", serif;
  }
  h2 {
    font-family: "Cinzel", serif;
  }
  p {
    font-family: 'Libre Baskerville', serif;
  }
  .contactMe {
    ul {
      li {
        font-family: 'Libre Baskerville', serif;
      }
    }
  }
}

p {
  font-size: 16px;
  line-height: 28px;
  padding-right: 5vw;
  font-family: 'Libre Baskerville', serif;
}

.projects {
  h1 {
    font-family: "Cinzel", serif;
  }
}


.caseStudy {
  h1, h4 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  }
  h4 {
    margin: 32px 0;
  }
}
